.box-21{
    background-color: rgb(248, 209, 215);
    height: 0px;
    margin-top: 50px;
    margin-left: 250px;
} 

.askq-btn{
    text-align: center;
    width: 90px;
    height: 34px;
    background-color: darkorange;
    color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    margin-left: 15px;
    padding: 4px 8px;
    box-shadow: 2px -2px 8px rgb(238, 191, 105);
}

.recent-btn{
    text-align: center;
    width: 90px;
    height: 34px;
    background-color: darkorange;
    color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px 8px;
    box-shadow: 2px -2px 8px rgb(238, 191, 105);
}

.vote-btn{
    text-align: center;
    width: 90px;
    height: 34px;
    background-color: darkorange;
    color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px 3px;
    box-shadow: 2px -2px 8px rgb(238, 191, 105);
}

.reply-btn{
    text-align: center;
    width: 90px;
    height: 34px;
    background-color: darkorange;
    color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px 4px;
    box-shadow: 2px -2px 8px rgb(238, 191, 105);
}

.discuss-btn{
    text-align: center;
    width:120px;
    height: 34px;
    background-color: darkorange;
    color: white;
    outline: none;
    border: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px 5px;
    box-shadow: 2px -2px 8px rgb(238, 191, 105);
}